# کتابخانه ها

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization, Flatten

from sklearn.model_selection import StratifiedKFold

# تشخیص مشتریان خوش حساب و بد حساب

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Datasets/python 3_5/default of credit card clients.xls')
df.head()

  Unnamed: 0         X1   X2  ...       X22       X23                           Y
0         ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
1          1      20000    2  ...         0         0                           1
2          2     120000    2  ...         0      2000                           1
3          3      90000    2  ...      1000      5000                           0
4          4      50000    2  ...      1069      1000                           0

[5 rows x 25 columns]

In [ ]:
df.shape

(30001, 25)

In [ ]:
X = df.iloc[1:,1:24].astype(float)
Y = df.iloc[1:,24]

In [ ]:
X.shape

(30000, 23)

In [ ]:
X

             X1   X2   X3   X4    X5  ...      X19      X20     X21      X22     X23
1       20000.0  2.0  2.0  1.0  24.0  ...    689.0      0.0     0.0      0.0     0.0
2      120000.0  2.0  2.0  2.0  26.0  ...   1000.0   1000.0  1000.0      0.0  2000.0
3       90000.0  2.0  2.0  2.0  34.0  ...   1500.0   1000.0  1000.0   1000.0  5000.0
4       50000.0  2.0  2.0  1.0  37.0  ...   2019.0   1200.0  1100.0   1069.0  1000.0
5       50000.0  1.0  2.0  1.0  57.0  ...  36681.0  10000.0  9000.0    689.0   679.0
...         ...  ...  ...  ...   ...  ...      ...      ...     ...      ...     ...
29996  220000.0  1.0  3.0  1.0  39.0  ...  20000.0   5003.0  3047.0   5000.0  1000.0
29997  150000.0  1.0  3.0  2.0  43.0  ...   3526.0   8998.0   129.0      0.0     0.0
29998   30000.0  1.0  2.0  2.0  37.0  ...      0.0  22000.0  4200.0   2000.0  3100.0
29999   80000.0  1.0  3.0  1.0  41.0  ...   3409.0   1178.0  1926.0  52964.0  1804.0
30000   50000.0  1.0  2.0  1.0  46.0  ...   1800.0   1430.0  1000.0   1000.0  1000.0

[30000 rows x 23 columns]

In [ ]:
Y.value_counts()

0    23364
1     6636
Name: Y, dtype: int64

In [ ]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_Y = np_utils.to_categorical(encoded_Y)
dummy_Y.astype(int)

array([[0, 1],
       [0, 1],
       [1, 0],
       ...,
       [0, 1],
       [0, 1],
       [0, 1]])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, dummy_Y, test_size=0.3, random_state=0)

In [ ]:
model = Sequential()

model.add(Dense(128, input_dim=23 ,kernel_initializer="uniform", activation="relu"))

model.add(Dense(64, kernel_initializer="uniform", activation="relu"))

model.add(Dense(2, kernel_initializer="uniform", activation="softmax"))

In [ ]:
model.compile(loss = "categorical_crossentropy", optimizer="adam", metrics=["accuracy"] )

In [ ]:
model.fit(x=X_train ,y=y_train , epochs=10, batch_size=64)

Epoch 1/10
329/329 [==============================] - 2s 4ms/step - loss: 7.3261 - accuracy: 0.6883
Epoch 2/10
329/329 [==============================] - 1s 4ms/step - loss: 1.3493 - accuracy: 0.7088
Epoch 3/10
329/329 [==============================] - 1s 4ms/step - loss: 0.6759 - accuracy: 0.7357
Epoch 4/10
329/329 [==============================] - 1s 4ms/step - loss: 0.5529 - accuracy: 0.7668
Epoch 5/10
329/329 [==============================] - 1s 4ms/step - loss: 0.5255 - accuracy: 0.7743
Epoch 6/10
329/329 [==============================] - 1s 3ms/step - loss: 0.5144 - accuracy: 0.7761
Epoch 7/10
329/329 [==============================] - 1s 4ms/step - loss: 0.5138 - accuracy: 0.7755
Epoch 8/10
329/329 [==============================] - 1s 4ms/step - loss: 0.5164 - accuracy: 0.7762
Epoch 9/10
329/329 [==============================] - 1s 4ms/step - loss: 0.5131 - accuracy: 0.7760
Epoch 10/10
329/329 [==============================] - 1s 4ms/step - loss: 0.5095 - accuracy: 0.7765

In [ ]:
model.evaluate(X_test, y_test)

282/282 [==============================] - 1s 3ms/step - loss: 0.4977 - accuracy: 0.7840

[0.49772748351097107, 0.7839999794960022]